<div class="row">
    <div class="col-md-12">
      <div class="panel header">
        <h2>Steuerrechner Grenzgänger</h2>
        <%= image_tag("TKB.png", :size => "200x50" , class:"img-rounded") %>
        <br><br>
      </div>
    </div>
</div>